/* Toàn bộ phần header và section */
.content-header {
  background-color: #ffffff;
  padding: 20px 0;
  border-bottom: 1px solid #00B2A9;
}

.content-header h1 {
  font-size: 24px;
  font-weight: 600;
  color: #00B2A9;
}

.container-fluid {
  max-width: 1200px;
}
.row{
  align-items: center;
}

/* Nút thêm ảnh */
#upload_widget {
  background-color: #00B2A9;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-size: 23px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#upload_widget:hover {
  background-color: #00B2A9;
}

#upload_widget i {
  margin-right: 10px;
}

/* Phần nội dung form */
.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px #00B2A9;
  margin-bottom: 20px;
}

.card-body {
  padding: 30px;
}

/* Form group */
.form-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.form-group label {
  font-size: 16px;
  font-weight: 600;
  color: #00B2A9;
  flex: 1;
}

.form-group .col-md-9 {
  flex: 2;
}

.form-group input {
  width: 100%;
  border-radius: 8px;
  border: 2px solid #00B2A9;
  font-size: 16px;
  transition: border 0.3s;
}

.form-group input,
:focus {
  border-color: #00B2A9;
  outline: none;
}

::ng-deep {
  p-inputNumber {
    .p-inputnumber  {
      width: 525px  ;
       border-radius: 6px;
       border: 2px solid #00B2A9;

    }
    .p-inputnumber input {
      width:  525px;
       border-radius: 5px;
 
    }
  }
}

/* Thông báo lỗi */
.text-danger {
  font-size: 14px;
  color: #00B2A9;
  margin-top: 5px;
}

/* Khung hình ảnh */
.khung_prdImg img {
  width: 50%;
  height: auto;
  border-radius: 8px;
   box-shadow: 0 4px 8px #00B2A9;
}

.khung_prdImg {
  text-align: center;
  margin-bottom: 20px;
}

/* Các nút trong footer */
.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.khung_btn {
  display: flex;
  gap: 10px;
}

.khung_btn .btn {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.khung_btn .btn-secondary {
  background-color: #00B2A9;
  border: 1px solid #ddd;
  color: #ffffff;
}

.khung_btn .btn-secondary:hover {
  background-color: #ddd;
}

.khung_btn .btn-primary {
  background-color: #00B2A9;
  border: 1px solid #00B2A9;
  color: #fff;
}

.khung_btn .btn-primary:disabled {
  background-color: #00B2A9;
  border-color: #ccc;
  cursor: not-allowed;
}

.khung_btn .btn-primary:hover {
  background-color: #00B2A9;
}