<div class="cart-container">
  <div class="cart-header">
    <h2>Giỏ Hàng <i class="fa fa-cart-plus"></i></h2>

  </div>
  <div *ngIf="cartItems.length === 0" class="empty-cart">
    <p>Giỏ hàng của bạn hiện đang trống.</p>
  </div>
  <div class="list-item">
    @for(item of cartItems ; track item.id){

    <div class="cart-item">
      <input type="checkbox" [checked]="isChecked(item.id)" (change)="toggleProductSelection(item.id)" />

      <img [src]="item.urlImage" alt="{{ item.name }}" class="cart-item-image" (click)="showProduct(item.productId)">
      <div class="cart-item-info">
        <h4>{{ item.name }}</h4>
        <p class="price">
          <span class="discounted-price">{{ (item.price ) | currency:'VND' : true }}</span>
          <!-- Giá giảm -->

          <!-- <span class="original-price">{{ item.price | currency:'VND' : true }}</span>
          Giá gốc với định dạng tiền tệ -->
        </p>
        <div class="quantity">
          <button class="quantity-btn" (click)="decreaseQuantity(item)">-</button>
          <span>{{ item.quantity }}</span>
          <button class="quantity-btn" (click)="increaseQuantity(item)">+</button>
          <div class="item-total">
            <span class="tonggia">Tổng giá:{{(item.price * item.quantity)| currency:'VND' : true }}</span>
          </div>
        </div>

      </div>
      <button class="remove-btn" (click)="deleteCartItemById(item)">Xóa <i class="fas fa-trash"> </i> </button>

    </div>
    }
  </div>
  <!-- Nút xóa sản phẩm đã chọn -->
  <button class="remove-btn" (click)="removeSelectedItems()">Xóa sản phẩm đã chọn</button>

  <div class="cart-summary">
    <label>
      <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()" />
      Chọn tất cả
    </label>

    <div class="cart-actions">
      <h4>Tổng cộng: {{ (totalSelectedAmount) | currency:'VND': true }}</h4>
      <button class="checkout-btn" (click)="showPayDialog( )">Mua hàng</button>
    </div>
  </div>

</div>